Loads the average score list and reshapes it to the multiple column format required by analysis in later steps

In [16]:
import numpy as np
import pandas as pd

from collections import Counter

In [2]:
hla_file = "../data/Liu_2019/liu_2019_hla_ii_format.csv"
df_hla = pd.read_csv(hla_file, sep=",", header=0)
df_hla.shape

(141, 1)

In [3]:
df_hla[:2]

                    hla
0  HLA-DPAB*01:03_01:01
1  HLA-DPAB*01:03_02:01

In [4]:
df_ave_20 = pd.read_csv("../results/ensemble_scores/HLA_II_all_match_zheng/HLA_II_all_match_zheng_20.csv", header=0)
df_scores = pd.read_csv("../results/ensemble_scores/HLA_II_all_match_zheng_default/predicted_scores.csv", header=0)

print(df_ave_20.shape)
print(df_scores.shape)

(923127, 3)
(923127, 3)

In [5]:
df_ave_20[:2]

                           tcr            hla_allele       ave
0  TRBV20-1*01,CSAHGGFANHHEQFF  HLA-DPAB*01:03_01:01  0.916261
1  TRBV20-1*01,CSAHGGFANHHEQFF  HLA-DPAB*01:03_02:01  0.926451

In [6]:
df_scores[:2]

                           tcr            hla_allele     score
0  TRBV20-1*01,CSAHGGFANHHEQFF  HLA-DPAB*01:03_01:01  0.916261
1  TRBV20-1*01,CSAHGGFANHHEQFF  HLA-DPAB*01:03_02:01  0.926451

In [13]:
diff_list = [x-y for x,y in zip(df_ave_20.ave.tolist(), df_scores.score.tolist())]

print(max(diff_list))
print(min(diff_list))

9.424984470651765e-08
-9.983778026523282e-08

In [17]:
Counter([x==y for x,y in zip(df_hla.hla.tolist(), df_scores.hla_allele.tolist()[:141])])

Counter({True: 141})

In [18]:
array_scores = np.array(df_scores.score)
mat_scores = array_scores.reshape(6547, 141)

In [19]:
df_scores[:6]

                           tcr            hla_allele     score
0  TRBV20-1*01,CSAHGGFANHHEQFF  HLA-DPAB*01:03_01:01  0.916261
1  TRBV20-1*01,CSAHGGFANHHEQFF  HLA-DPAB*01:03_02:01  0.926451
2  TRBV20-1*01,CSAHGGFANHHEQFF  HLA-DPAB*01:03_03:01  0.937578
3  TRBV20-1*01,CSAHGGFANHHEQFF  HLA-DPAB*01:03_04:01  0.948547
4  TRBV20-1*01,CSAHGGFANHHEQFF  HLA-DPAB*01:03_04:02  0.937126
5  TRBV20-1*01,CSAHGGFANHHEQFF  HLA-DPAB*01:03_13:01  0.938613

In [29]:
mat_scores[0]

array([0.91626128, 0.92645104, 0.93757775, 0.94854701, 0.93712587,
       0.93861265, 0.88783347, 0.88775523, 0.90847149, 0.90570677,
       0.92623562, 0.9156317 , 0.83280893, 0.91172084, 0.85886649,
       0.87167463, 0.91627461, 0.90697753, 0.91301781, 0.91301781,
       0.85110991, 0.88133607, 0.86596719, 0.91481304, 0.89934842,
       0.88064813, 0.86920928, 0.89008124, 0.91655863, 0.91655863,
       0.85325005, 0.88002469, 0.86194922, 0.89102723, 0.87664342,
       0.87662711, 0.84344825, 0.87430298, 0.85976059, 0.88336262,
       0.88564111, 0.88220901, 0.88220901, 0.81730353, 0.8455705 ,
       0.88089618, 0.87568286, 0.85503263, 0.85855341, 0.81741796,
       0.85420365, 0.83684831, 0.86347549, 0.86269742, 0.91301781,
       0.85110991, 0.88328063, 0.8410469 , 0.88064813, 0.91301781,
       0.89934842, 0.9486866 , 0.9486866 , 0.876003  , 0.87662169,
       0.89058711, 0.92385869, 0.89694813, 0.88076729, 0.86817703,
       0.91101868, 0.87593587, 0.92307074, 0.89702503, 0.9044847 ,
       0.88481343, 0.86972771, 0.88840227, 0.86626317, 0.88202888,
       0.92307074, 0.89964632, 0.92307074, 0.92307074, 0.89702503,
       0.9044847 , 0.92892766, 0.88481343, 0.86972771, 0.88840227,
       0.86626317, 0.88189509, 0.8544288 , 0.87536035, 0.86332376,
       0.83037354, 0.91982642, 0.91982642, 0.91024185, 0.89043418,
       0.89496736, 0.89913106, 0.90599435, 0.86755871, 0.91982642,
       0.91982642, 0.91024185, 0.87559387, 0.89043418, 0.91765296,
       0.89496736, 0.88071402, 0.89913106, 0.90159132, 0.90599435,
       0.89805137, 0.85328688, 0.95341322, 0.92082868, 0.85058089,
       0.90633606, 0.87149671, 0.88660127, 0.94281735, 0.82159356,
       0.83361142, 0.89129278, 0.88704969, 0.88895412, 0.87296231,
       0.87658592, 0.8305398 , 0.87429217, 0.88690747, 0.84682025,
       0.89676313, 0.89260243, 0.89676313, 0.87110852, 0.88188876,
       0.81487645])

In [30]:
df_mat = pd.DataFrame(mat_scores, columns=df_hla.hla.tolist())

In [34]:
df_mat.to_csv("../results/st20_HLA_II_zheng_2021_ensemble_reshape_20.csv", index=False)