Loads the average score list and reshapes it to the multiple column format required by analysis in later steps

In [1]:
import numpy as np
import pandas as pd

In [2]:
hla_pseudo_file = '../data/for_encoders/HLA_I_pseudo_40.csv'
hla_pseudo = pd.read_csv(hla_pseudo_file, sep=",", header=0)
hla_pseudo.shape

(85, 2)

In [3]:
hla_pseudo[:2]

           hla                                       seq
0  HLA-B*08:01  YDSEYRNQIFTNTDESNLYLSYNYYTWAARVDAYETEWRY
1  HLA-A*24:02  YSAMYEEGKVAHTDENIAYLMFHYYTWAAHVQAYETDGRY

In [4]:
df_ave_20 = pd.read_csv("../results/ensemble_scores/HLA_I_all_match_zheng/HLA_I_all_match_zheng_20.csv", header=0)

print(df_ave_20.shape)

(850680, 3)

In [5]:
df_ave_20[:2]

                      tcr   hla_allele       ave
0  TRBV13*01,CASSLTGNEQFF  HLA-B*08:01  0.138715
1  TRBV13*01,CASSLTGNEQFF  HLA-A*24:02  0.335980

In [6]:
array_20 = np.array(df_ave_20.ave)

mat_20 = array_20.reshape(10008, 85)

In [8]:
df_mat_20 = pd.DataFrame(mat_20, columns=hla_pseudo.hla.tolist())

df_mat_20.to_csv("../results/st4_HLA_I_zheng_2021_ensemble_reshape_20.csv", index=False)