Prepare the input data file based on HLA-I alleles and Zheng 2021 TCRs for making prediction on

In [1]:
import numpy as np
import pandas as pd

In [7]:
hla_pseudo_file = '../data/for_encoders/HLA_I_pseudo_40.csv'
zheng_2021_file = '../data/Zheng_2021/pos_TCRs_weighted_for_DePTH_comb_xcr_format.csv'

In [8]:
hla_pseudo = pd.read_csv(hla_pseudo_file, sep=",", header=0)
df_tcr = pd.read_csv(zheng_2021_file, header=0)

In [9]:
hla_pseudo.shape

(85, 2)

In [10]:
df_tcr.shape

(10008, 2)

In [11]:
hla_pseudo[:2]

           hla                                       seq
0  HLA-B*08:01  YDSEYRNQIFTNTDESNLYLSYNYYTWAARVDAYETEWRY
1  HLA-A*24:02  YSAMYEEGKVAHTDENIAYLMFHYYTWAAHVQAYETDGRY

In [12]:
df_tcr[:6]

           v            aa
0  TRBV13*01  CASSLTGNEQFF
1  TRBV13*01  CASSLTGNEQFF
2  TRBV13*01  CASSLTGNEQFF
3  TRBV13*01  CASSLTGNEQFF
4  TRBV13*01  CASSLTGNEQFF
5  TRBV13*01  CASSLTGNEQFF

In [13]:
test_tcrs = [",".join([a, b]) for a, b in zip(df_tcr.v, df_tcr.aa)]

pair_list = [(tcr, hla) for tcr in test_tcrs for hla in hla_pseudo.hla.tolist()]
pair_list[:10]

[('TRBV13*01,CASSLTGNEQFF', 'HLA-B*08:01'),
 ('TRBV13*01,CASSLTGNEQFF', 'HLA-A*24:02'),
 ('TRBV13*01,CASSLTGNEQFF', 'HLA-A*24:03'),
 ('TRBV13*01,CASSLTGNEQFF', 'HLA-B*38:02'),
 ('TRBV13*01,CASSLTGNEQFF', 'HLA-B*51:01'),
 ('TRBV13*01,CASSLTGNEQFF', 'HLA-B*57:01'),
 ('TRBV13*01,CASSLTGNEQFF', 'HLA-A*23:01'),
 ('TRBV13*01,CASSLTGNEQFF', 'HLA-B*15:17'),
 ('TRBV13*01,CASSLTGNEQFF', 'HLA-B*50:01'),
 ('TRBV13*01,CASSLTGNEQFF', 'HLA-B*07:05')]

In [14]:
len(pair_list)

850680

In [15]:
df_pairs = pd.DataFrame(pair_list, columns=['tcr', 'hla_allele'])
df_pairs[:6]

                      tcr   hla_allele
0  TRBV13*01,CASSLTGNEQFF  HLA-B*08:01
1  TRBV13*01,CASSLTGNEQFF  HLA-A*24:02
2  TRBV13*01,CASSLTGNEQFF  HLA-A*24:03
3  TRBV13*01,CASSLTGNEQFF  HLA-B*38:02
4  TRBV13*01,CASSLTGNEQFF  HLA-B*51:01
5  TRBV13*01,CASSLTGNEQFF  HLA-B*57:01

In [18]:
df_pairs.to_csv("../data/Zheng_2021/zheng_2021_HLA_I_pairs.csv", index=False)