Prepare the input data file based on

the 141 unique HLA-II alleles from processed Liu 2019 data:

    ../data/Liu_2019/liu_2019_hla_ii_format.csv
    
and the 6547 Zheng 2021 CD4 TCRs from processed Zheng 2021 CD4 data:

    ../data/Zheng_2021/CD4_pos_TCRs_weighted_for_DePTH_comb_xcr_format.csv

for making prediction on

In [2]:
import numpy as np
import pandas as pd

In [1]:
hla_file = '../data/Liu_2019/liu_2019_hla_ii_format.csv'
zheng_2021_file = '../data/Zheng_2021/CD4_pos_TCRs_weighted_for_DePTH_comb_xcr_format.csv'

In [3]:
df_hla = pd.read_csv(hla_file, header=0)
df_tcr = pd.read_csv(zheng_2021_file, header=0)

In [4]:
df_hla.shape

(141, 1)

In [6]:
df_tcr.shape

(6547, 2)

In [7]:
df_hla[:2]

                    hla
0  HLA-DPAB*01:03_01:01
1  HLA-DPAB*01:03_02:01

In [8]:
df_tcr[:6]

             v               aa
0  TRBV20-1*01  CSAHGGFANHHEQFF
1  TRBV20-1*01  CSAHGGFANHHEQFF
2  TRBV20-1*01  CSAHGGFANHHEQFF
3  TRBV20-1*01  CSAHGGFANHHEQFF
4  TRBV20-1*01  CSAHGGFANHHEQFF
5  TRBV20-1*01  CSAHGGFANHHEQFF

In [9]:
test_tcrs = [",".join([a, b]) for a, b in zip(df_tcr.v.tolist(), df_tcr.aa.tolist())]

pair_list = [(tcr, hla) for tcr in test_tcrs for hla in df_hla.hla.tolist()]
pair_list[:10]

[('TRBV20-1*01,CSAHGGFANHHEQFF', 'HLA-DPAB*01:03_01:01'),
 ('TRBV20-1*01,CSAHGGFANHHEQFF', 'HLA-DPAB*01:03_02:01'),
 ('TRBV20-1*01,CSAHGGFANHHEQFF', 'HLA-DPAB*01:03_03:01'),
 ('TRBV20-1*01,CSAHGGFANHHEQFF', 'HLA-DPAB*01:03_04:01'),
 ('TRBV20-1*01,CSAHGGFANHHEQFF', 'HLA-DPAB*01:03_04:02'),
 ('TRBV20-1*01,CSAHGGFANHHEQFF', 'HLA-DPAB*01:03_13:01'),
 ('TRBV20-1*01,CSAHGGFANHHEQFF', 'HLA-DPAB*01:03_17:01'),
 ('TRBV20-1*01,CSAHGGFANHHEQFF', 'HLA-DPAB*02:01_01:01'),
 ('TRBV20-1*01,CSAHGGFANHHEQFF', 'HLA-DPAB*02:01_02:01'),
 ('TRBV20-1*01,CSAHGGFANHHEQFF', 'HLA-DPAB*02:01_03:01')]

In [10]:
len(pair_list)

923127

In [11]:
df_hla.shape[0]*len(test_tcrs)

923127

In [12]:
df_pairs = pd.DataFrame(pair_list, columns=['tcr', 'hla_allele'])
df_pairs[:6]

                           tcr            hla_allele
0  TRBV20-1*01,CSAHGGFANHHEQFF  HLA-DPAB*01:03_01:01
1  TRBV20-1*01,CSAHGGFANHHEQFF  HLA-DPAB*01:03_02:01
2  TRBV20-1*01,CSAHGGFANHHEQFF  HLA-DPAB*01:03_03:01
3  TRBV20-1*01,CSAHGGFANHHEQFF  HLA-DPAB*01:03_04:01
4  TRBV20-1*01,CSAHGGFANHHEQFF  HLA-DPAB*01:03_04:02
5  TRBV20-1*01,CSAHGGFANHHEQFF  HLA-DPAB*01:03_13:01

In [13]:
df_pairs.to_csv("../data/Zheng_2021/zheng_2021_HLA_II_pairs.csv", index=False)